:root{
    --main-color: rgb(20, 20, 52);
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--main-color);
}

* {
    font-family: 'Roboto Mono', 'Courier New';
    color: white;

}

section, header, footer {
    border: 2px solid green;
}


h1, h2, picture{
    color: gold;
    padding-left: 1%;
    opacity: 0;
    animation-duration: 2s;
    animation-name: popIn;
    animation-fill-mode: forwards;
}
@keyframes popIn {

    100% {
        opacity: 1;
    }

   
}





.navigation > ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}

@media (max-width: 800px) or (hover:none){
    .navigation > ul{
        display: flex;
        flex-direction: column-reverse;
    }
    
    #profile > picture > img {
        width: 92;
        height: 128;
    }
}

@media (hover:none){

    * {
        font-size:4vmin;
    }
    #job-experience ol {
        margin-left: 7vmin;
    }
    .navigation > ul{
        display: flex;
        flex-direction: column-reverse;
    }
    
    #profile > picture > img {
        width: 92;
        height: 128;
    }
}

.navigation  li {
    font-size: large;
    background-color: gold;
    padding-left: 1%;
    padding-right: 1%;

}

li > a {
    color: navy;
}

.navigation li:hover a{
    color: gold;
    transition-property: color;
    transition-duration: 1s;
}
.navigation > ul > li:hover{
    background-color:green;
}

#profile {
    display: flex;
}

#profile-description {
    padding-left: 2%;
}

picture {
    padding-left: 1%;
}

picture:hover {
    padding-left: 2%;
    transform: scale(1.2);
}

footer > * {
    padding-left: 1%;
}

#contact-links *{
    color: gold;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 1%;
    border: 1px solid white;
}